<nav>
    <ul class="tabs">
        <li data-tab="home">Accueil</li>
        <li data-tab="stats">Statistiques</li>
        <li data-tab="quests">Quêtes</li>
        <li data-tab="quest-history">Historique</li>
        <li data-tab="progress-chart">Graphiques</li>
        <li data-tab="profile">Profil</li>
		<li data-tab="create-quest">Créer une quête</li>
    </ul>
</nav>